.profile-head {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 10px 0;
  background-color: $dark-overlay;
  font-size: 1.5em;
  margin-top: 50px;
  width: 100%;
  color: $bright-white;
  border-bottom: 1px solid $base-dark-color;
}

.profile-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 800px;
  padding-bottom: 20px;
}

.profile-avatar {
  border-radius: 50%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  border: 5px solid $bright-white;
}

.avatar-container i {
  color: $bright-white;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: $base-white-color;
  max-width: 100%;
}

.details-container h1 {
  font-family: 'Raleway', serif;
  font-size: 1.75em;
  color: $bright-white;
}

.details-container p {
  color: $base-white-color;
  font-size: 1em;
}

.details-name {
  margin-bottom: 20px;
}

.details-username {
  text-align: center;
}

.btn-follow,
.btn-edit,
.btn-photo,
.btn-unfollow {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  outline: 0;
  color: $bright-white;
  font-weight: 600;
  text-transform: uppercase;
  transition: $transition;
}

.btn-follow,
.btn-edit {
  background-color: $action-color;
}

.btn-photo {
  background-color: $bright-color;
}

.btn-unfollow {
  background-color: $danger-color;
}

.btn-follow:hover,
.btn-follow:active,
.btn-edit:hover,
.btn-edit:active {
  background-color: $bright-action-color;
}

.btn-unfollow:hover,
.btn-unfollow:active {
  transform: $scale;
  background-color: adjust-color($danger-color, $saturation: 5, $lightness: 20);
}
