/* .circle-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: #33322d;
  border-bottom: 2px solid #542d51;
  overflow-x: auto;
  overflow-y: hidden;
}

.circle-icon {
  height: 50px;
  width: 50px;
  margin: 10px 20px 10px 0;
  background-color: #ff798f;
  border-radius: 50%;
  flex-shrink: 0;
  transition: all 0.3s ease-in;
}

.circle-icon:first-child {
  margin-left: 20px;
}

.circle-icon:last-child {
  margin-right: 20px;
}

.circle-icon:hover {
  background-color: #008716;
} */

.date {
  margin-top: 10px;
}

.date p {
  font-size: 0.8em;
  color: #33322d;
}

.add-button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008716;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  transition: all 0.3s ease-in;
}

.add-button:hover {
  background-color: #1ed442;
}

.add-button i {
  color: #fff;
  font-size: 1.25rem;
}

.hide-on-small {
  visibility: hidden;
}
