.add-button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid $bright-action-color;
  outline: none;
  background-color: $action-color;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  transition: all 0.3s ease-in;
}

.add-button:hover {
  background-color: $bright-action-color;
}

.add-button i {
  color: #fff;
  font-size: 1.25rem;
}
