.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: left;
  top: 0;
  width: 100%;
  height: 50px;
  background: $base-dark-color;
  color: $base-white-color;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
  z-index: 10;
}

.brand {
  margin-left: 20px;
  justify-self: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  color: $bright-white;
}

.navbar i {
  color: $bright-white;
  position: absolute;
  right: 20px;
  top: 8px;
}

.navbar-auth {
  border-bottom: 1px solid #ff798f;
}

.guest.nav {
  display: flex;
  position: absolute;
  right: 10px;
  list-style-type: none;
}

.nav-links a {
  margin-right: 20px;
  color: $base-white-color;
  text-decoration: none;
  transition: all 0.3s ease-in;
  width: 100vw;
}

.dropdown-nav {
  position: absolute;
  top: 49px;
  left: 0;
}

.dropdown-nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top: 1px solid $light-dark-color;
  transition: all 0.3s ease-in;
}

.dropdown-nav li:last-child {
  border-bottom: 1px solid $light-dark-color;
}

.dropdown-nav li:hover,
.dropdown-nav li:active {
  background-color: $light-dark-color;
}

.dropdown-nav li a {
  transition: all 0.3s ease-in;
}

.dropdown-nav li:hover a {
  color: $bright-white;
}

.show {
  visibility: visible;
  display: block;
  width: 100vw;
  background-color: $base-dark-color;
  color: $base-white-color;
}
