// .disabled-body {
//   overflow: hidden;
// }

.modal-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $dark-overlay;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  height: 300px;
  margin-top: 100px;
  background-color: $frosted-color;
  border-radius: 5px;
  border: none;
}

.modal-title {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $overlay-color;
  padding: 10px;
  color: $bright-white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', serif;
  font-size: 1.5em;
  font-weight: 800;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid $light-border-color;
}

.modal i {
  position: absolute;
  font-size: 1.5em;
  right: 10px;
  top: 10px;
  color: $bright-white;
  z-index: 2;
}

.modal i:hover {
  color: $bright-white;
}

.twit-post-content {
  display: block;
  margin: 70px auto 0;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  height: 150px;
  resize: none;
}

.twit-post-content:focus {
  outline: none;
  border: $bright-color;
}
