// .disabled-body {
//   overflow: hidden;
// }

.modal-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $dark-overlay;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  height: 400px;
  margin-top: 100px;
  background-color: $frosted-color;
  border-radius: 5px;
  border: none;
}

.modal-title {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $overlay-color;
  padding: 10px;
  color: $bright-white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', serif;
  font-size: 1.5em;
  font-weight: 800;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid $light-border-color;
}

.modal i {
  position: absolute;
  font-size: 1.5em;
  right: 10px;
  top: 10px;
  color: $base-white-color;
  z-index: 2;
}

.modal i:hover {
  color: $bright-white;
}

.btn.post,
.btn.save,
.btn.cancel {
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  color: $bright-white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.btn.post,
.btn.save {
  bottom: 10px;
  right: 10px;
  width: 150px;
  background-color: $action-color;
}

.btn.cancel {
  bottom: 10px;
  right: 170px;
  background-color: $bright-color;
}

.btn.cancel:hover,
.btn.cancel:active {
  background-color: $darker-bright;
}

.btn.post:hover,
.btn.post:active,
.btn.save:hover,
.btn.save:active {
  background-color: $bright-action-color;
}

.twit-post-content {
  display: block;
  margin: 70px auto 0;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  resize: none;
}

.twit-post-content:focus {
  outline: none;
  border: $bright-color;
}
