.toast {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 20px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  z-index: 2;
  background-color: $bright-white;
}

.toast.success {
  background-color: $action-color;
  color: $base-white-color;
}

.toast.failure {
  background-color: $danger-color;
  color: $base-white-color;
}

.toast.light {
  background-color: $base-white-color;
}

.toast.dark {
  background-color: $base-dark-color;
  color: $base-white-color;
}
