.no-twits-container {
  width: 80%;
  max-width: 800px;
  min-height: 200px;
  margin-top: 50px;
  background-color: $frosted-color;
  border-radius: 5px;
  border: 1px solid $bright-white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-twits-container.home,
.no-twits-container.following {
  margin-top: 100px;
}

.no-twits-content {
  font-size: 2em;
  font-family: 'Raleway', serif;
}
