.twits-container {
  margin-top: 50px;
  width: 80%;
  max-width: 800px;

  &.profile {
    margin-top: 50px;
  }
}

.twits-container.home,
.twits-container.following {
  margin-top: 100px;
}

.twit {
  background-color: $frosted-color;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid $bright-white;
  width: 100%;
  margin-bottom: 25px;
}

.flat-bottom {
  border-radius: 5px 5px 0 0;
  margin-bottom: 0px;
}

.twit-content {
  margin-top: 10px;
  font-size: 1.15em;
  text-justify: inter-word;
  line-height: 1.4em;
}

.author-container {
  display: flex;
  align-items: center;
  height: 50px;
}

// Add back in once photo uploads are enabled
.twit-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid $danger-color;
}

.twit-author {
  font-family: 'Raleway', serif;
  font-weight: 600;
  color: $danger-color;
  margin-left: 15px;
  text-transform: uppercase;
}

.twit-date {
  display: block;
  margin-top: 20px;
}

.delete-bar {
  width: 100%;
  text-align: right;
  background-color: $danger-color;
  font-size: 1.5em;
  padding: 10px 20px;
  margin-bottom: 25px;
  border-radius: 0 0 5px 5px;
}

.delete-bar i {
  position: relative;
  color: $base-white-color;
  font-size: 1em;
}

.delete-bar i:hover {
  color: $bright-white;
}
