$frosted-color: rgba(255, 255, 255, 0.8);
$base-dark-color: #1b1521;
$base-white-color: #ccc;
$bright-white: #fff;
$bright-color: #d41e45;
$overlay-color: rgba(212, 30, 69, 0.85);
$dark-overlay: rgba(0, 0, 0, 0.8);
$light-border-color: #ff798f;

$action-color: #008716;
$bright-action-color: #1ed442;

$danger-color: #542d51;
