@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Raleway:wght@400;800&display=swap');

@import './variables/colors';
@import './variables/transforms';
@import './components/auth/forms';
@import './components/auth/buttons';
@import './components/layout/navbar';
@import './components/layout/toast';
@import './components/layout/modalbutton';
@import './components//layout/modal';
@import './components/profile/profilehead';
@import './components/twit';
@import './media_queries/mediaqueries';

/* ******************* GLOBAL ******************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $base-dark-color;
}

a {
  text-decoration: none;
}

/* ******************* CONTAINER ******************* */
.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: $bright-color;

  &.auth {
    height: 100vh;
    background: url('../img/photo-1523731407965-2430cd12f5e4.jpg');
    background-size: cover;
    overflow: hidden;
  }
}

.overlay {
  width: 100%;
  min-height: 100vh;
  background-color: $overlay-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.auth {
    justify-content: center;
    overflow: hidden;
  }
}

.hide-on-small {
  visibility: hidden;
}
