@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Raleway:wght@400;800&display=swap");
.signup-form,
.login-form {
  width: 80%;
  max-width: 500px;
  margin: 75px auto 20px;
}

.input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-field i {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px 0 0 5px;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(27, 21, 33, 0.4);
}

.signup-form input,
.login-form input {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 0 5px 5px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.9);
  outline: none;
  padding: 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.signup-form input:focus,
.login-form input:focus {
  background-color: #fff;
}

.login-text,
.signup-text {
  color: #ccc;
  font-size: 0.8 rem;
  text-align: center;
  margin-bottom: 50px;
}

.login-text a,
.signup-text a {
  color: #fff;
  text-decoration: none;
}

.login-text a:hover,
.signup-text a:hover {
  text-decoration: underline;
}

.btn.signup,
.btn.login {
  position: relative;
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background-color: #1b1521;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn.signup:hover,
.btn.login:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  top: 0;
  width: 100%;
  height: 50px;
  background: #1b1521;
  color: #ccc;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
  z-index: 10;
}

.brand {
  margin-left: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  color: #fff;
}

.navbar-auth {
  border-bottom: 1px solid #ff798f;
}

.nav.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 10px;
  list-style-type: none;
}

.nav-links a {
  margin-right: 20px;
  color: #ccc;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav-links a:hover {
  color: #fff;
}

.toast {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 10px;
  right: 10px;
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 20px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  z-index: 2;
  background-color: #fff;
}

.toast.success {
  background-color: #008716;
  color: #ccc;
}

.toast.failure {
  background-color: #542d51;
  color: #ccc;
}

.toast.light {
  background-color: #ccc;
}

.toast.dark {
  background-color: #1b1521;
  color: #ccc;
}

.add-button {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid #1ed442;
  outline: none;
  background-color: #008716;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.add-button:hover {
  background-color: #1ed442;
}

.add-button i {
  color: #fff;
  font-size: 1.25rem;
}

.modal-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  max-width: 800px;
  height: 400px;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.modal-title {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(212, 30, 69, 0.85);
  padding: 10px;
  color: #ccc;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', serif;
  font-size: 1.5em;
  font-weight: 800;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ff798f;
}

.modal i {
  position: absolute;
  font-size: 1.5em;
  right: 10px;
  top: 10px;
  color: #ccc;
  z-index: 2;
}

.modal i:hover {
  color: #fff;
}

.btn.post {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background-color: #008716;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn.post:hover,
.btn.post:active {
  background-color: #1ed442;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.twit-post-content {
  display: block;
  margin: 70px auto 0;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  resize: none;
}

.twit-post-content:focus {
  outline: none;
  border: #d41e45;
}

.profile-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
  margin-top: 50px;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid #1b1521;
}

.profile-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  max-width: 800px;
  padding-bottom: 20px;
}

.avatar-container i {
  color: #fff;
}

.details-container {
  margin-left: 50px;
  color: #ccc;
}

.details-container h1 {
  font-family: 'Raleway', serif;
  font-size: 1.75em;
  color: #fff;
}

.details-container p {
  color: #ccc;
  font-size: 1em;
}

.details-name {
  margin-bottom: 20px;
}

.btn-follow,
.btn-edit,
.btn-unfollow {
  margin-top: 20px;
  width: 200px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  outline: 0;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn-follow,
.btn-edit {
  background-color: #008716;
}

.btn-unfollow {
  background-color: #542d51;
}

.btn-follow:hover,
.btn-edit:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #1ed442;
}

.btn-unfollow:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: ligthten(#542d51, 90%);
}

.twits-container {
  margin-top: 100px;
  width: 80%;
  max-width: 800px;
}

.twits-container.profile {
  margin-top: 50px;
}

.twit {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  width: 100%;
  margin-bottom: 25px;
}

.flat-bottom {
  border-radius: 5px 5px 0 0;
  margin-bottom: 0px;
}

.twit-content {
  margin-top: 10px;
  font-size: 1.15em;
  text-justify: inter-word;
  line-height: 1.4em;
}

.author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

/* Add back in once photo uploads are enabled 
.avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 3px solid #1b1521;
}
*/
.twit-author {
  font-weight: 600;
  color: #542d51;
  margin-left: 10px;
}

.twit-date {
  display: block;
  margin-top: 20px;
}

.delete-bar {
  width: 100%;
  text-align: right;
  background-color: #542d51;
  font-size: 1.5em;
  padding: 10px 20px;
  margin-bottom: 25px;
  border-radius: 0 0 5px 5px;
}

.delete-bar i {
  position: relative;
  color: #ccc;
  font-size: 1em;
}

.delete-bar i:hover {
  color: #fff;
}

/* ******************* MEDIA QUERIES ******************* */
@media screen and (min-width: 992px) {
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
  }
  .hide-on-small {
    visibility: visible;
    z-index: 2;
  }
  .circle-container {
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    height: 100%;
    left: 0;
    padding-top: 70px;
    border-bottom: 3px solid #ff798f;
  }
  .circle-icon {
    margin-left: 20px;
  }
}

/* ******************* GLOBAL ******************* */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #1b1521;
}

a {
  text-decoration: none;
}

/* ******************* CONTAINER ******************* */
.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: #d41e45;
}

.container.auth {
  height: 100vh;
  background: url("../img/photo-1523731407965-2430cd12f5e4.jpg");
  background-size: cover;
  overflow: hidden;
}

.overlay {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(212, 30, 69, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay.auth {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.hide-on-small {
  visibility: hidden;
}
/*# sourceMappingURL=main.css.map */